*{
    margin: 0;
    padding: 0;
}
:root{
    --primary_color: white
    /* --secondary_color: black */
}
#nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 10vh;
    position: fixed;
    z-index: 2;
    width: 100%;
}
#nav h1{
    padding: 10px 50px;
}
#IO{
    color: darkgray;
}
#links{
    padding: 8px 20px;
}
#nav a{
    padding: 0 18px;
    text-decoration: none;
    color: black;
}
#nav a:hover{
    color: darkgray;
}
#circle{
    text-align: center;
    position: absolute;
    top: 0%;
    right: 20px;
    background-color: darkgray;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
#header{
    height: 100vh;
    text-align: center;
    position: relative;
}
#header::after{
    content: '';
    position: absolute;
    top: 0;
    bottom:  0;
    right: 0;
    left: 0;
    background: url(./pexels-frans-van-heerden-847371.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(255, 5, 5);
    opacity: .7;
    z-index: -2;
}
#header::before{
    content: '';
    position: absolute;
    top: 0;
    bottom:  0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#text{
    padding-top: 40vh;
    color: white;
}
#walk{
    font-family:cursive;
    font-size: 30px;
}
#shoe{
    font-size: 100px;
}
#btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 1%;
    border-radius: 6px;
    font-size: 15px;
}
#btn:hover{
    background-color: black;
    color: darkgray;
}
#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: darkgray;
    margin: 2% 0;
}
#product{
    margin: 2%;
    width: 260px;
    height: 47vh;
    padding-bottom: 2%;
    border-radius: 5px 5px 0 0;
    background-color: white;
    transition: width 1s;
    /* border: 1px solid black; */
}
#product:hover{
    /* transform: 1.3; */
    width: 265px;
}
#content img{
    width: 100%;
    height: 30vh;
    border-radius: 5px 5px 0 0;
}
#content p{
    width: 90%;
    padding: 5%;
}
#conBtn{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 3%;
    border-radius: 6px;
    font-size: 15px;
}
#conBtn:hover{
    background-color: darkgray;
    color: white;

}
#content button{
    margin:2% 5%;
}
#aboutUs{
    margin: 50px 0;
    text-align: center;
}
#aboutUs h4{
    width: 80%;
    margin: 5vh auto;
}
#aboutContent{
    display: flex;
    margin: 10px 10px;
}
#aboutImg{
    background-image: url(./dark3d\ 2.webp);
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 60vh;
    color: white;
}
#aboutImg h2{
    padding: 150px 0 20px 0;   
}
#aboutImg button{
    margin: 10px 0;
    padding: 2%;
}
#aboutWordContent{
    width: 50%;
    margin: 150px 0;
}
#contactUs{
    padding: 20px;
    width: 80%;
    margin: 30px  auto;
    background:linear-gradient(120deg, black, rgb(129, 127, 127),rgb(177, 176, 176)  ) ;
    color: white;
}
#contactUs h2{
    text-align: center;
}
#request{
    padding-bottom: 15px;
    margin-right: 20px;
}
#contactUs label{
    display: block;
}
#request input[type="text"], input[type="email"], #request textarea{
    padding: 8px;
    width: 100%;
    margin: auto;
}
#requestbtn{
    text-align: center;
}
#contactUsFoot{
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    height: 45vh;
}
#contactUsFoot img{
    margin-top: 20px;
}
#contact{
    text-align: center;
}
#contact h3{
    margin: 40px 0 20px 0;
}
#contact h4{
    margin: 20px 0 ;
}